datasets
huggingface_hub
pandas
numpy
tqdm
langchain
langchain-community
chromadb
sentence-transformers
transformers
torch
anthropic
fastapi
uvicorn
kaggle
scikit-learn
python-dotenv
flask
flask-cors
pydantic
